<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moviecatalogue">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_film_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_film_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieCatalogue"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.detail.movie.DetailMovieActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.detail.tvshow.DetailTvShowActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="false">

        </activity>
        <activity android:name=".ui.home.MainActivity"
            android:exported="false"/>
    </application>

</manifest>